<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>fuseproject Studio Request Form</title>
  <style type="text/css">

* {
  margin: 0;
  padding: 0;
}

  </style>
</head>
<body>

<header>
  <div class="logo">fuseproject</div>
  <h1>studio request form</h1>
</header>


<form>

  <div class="fieldpair">
    <label for="client">Client</label>
    <input type="text" id="client">
  </div>

  <div class="fieldpair">
    <label for="project">Project</label>
    <input type="text" id="project">
  </div>

  <div class="fieldpair">
    <label for="creative_lead">Creative Lead</label>
    <input type="text" id="creative_lead">
  </div>

  <div class="fieldpair">
    <label for="account_project_manager">Account / Project Manager</label>
    <input type="text" id="account_project_manager">
  </div>

  <div class="fieldpair">
    <label for="request_datetime">Request Date & Time</label>
    <input type="datetime" id="due_datetime">
  </div>

  <div class="fieldpair">
    <label for="estimated_time_allocated">Estimated Time Allocated</label>
    <input type="estimated_time_allocated">
  </div>

  <div class="fieldpair">
    <label for="due_datetime">Due Date & Time</label>
    <input type="datetime" id="due_datetime">
  </div>

  <div class="fieldpair">
    <label for="total_time_spent">Total Time Spent</label>
    <input type="text" id="total_time_spent">
  </div>

  <fieldset>
    <legend>Request:</legend>
    <span class="checkpair"><input type="checkbox" id="req_general_request"><label for="req_general_request">General Request</label>
    <span class="checkpair"><input type="checkbox" id="req_image_request"><label for="req_image_request">Image Request</label>
    <span class="checkpair"><input type="checkbox" id="req_mechanical"><label for="req_mechanical">Mechanical</label>
    <span class="checkpair"><input type="checkbox" id="req_image_resize"><label for="req_image_resize">Image Resize</label>
    <span class="checkpair"><input type="checkbox" id="req_design_layout"><label for="req_design_layout">Design/Layout</label>
    <span class="checkpair"><input type="checkbox" id="req_presentation"><label for="req_presentation">Presentation</label>
    <span class="checkpair"><input type="checkbox" id="req_retouching"><label for="req_retouching">Retouching</label>
    <span class="checkpair"><input type="checkbox" id="req_fuse_website"><label for="req_fuse_website">Fuse Website</label>
    <span class="checkpair"><input type="checkbox" id="req_boards"><label for="req_boards">Boards</label>
    <span class="checkpair"><input type="checkbox" id="req_prints"><label for="req_prints">Prints</label>
  </fieldset>

  <fieldset>
    <legend>Provide Files:</legend>
    <span class="checkpair"><input type="checkbox" id="req_pdf"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
    <span class="checkpair"><input type="checkbox" id="req_"><label for="req_"></label>
  </fieldset>


</form>

</body>
</html>